<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản trị Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="boxcenter">
        <!-- Phần Header -->
        <div class="row mb  headeradmin">
            <h1>Quản Trị Trang Website</h1>
        </div> 
        <!-- Phần Menu -->
        <div class="row mb menu">
            <ul>
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Danh Mục</a></li>
                <li><a href="#">Hàng Hóa</a></li>
                <li><a href="#">Khách Hàng</a></li>
                <li><a href="#">Bình Luận</a></li>
                <li><a href="thongke.html">Thống Kê</a></li>
            </ul>
        </div>

        <div class="row mb  banneradmin">
            <h1>Thêm Hàng Hóa Mới</h1>
        </div>

        <div class="row mb10">

            <form action="" method="post" class="fromadmin">

                <div class="row mb10 mt10">
                    Mã Loại <br> 
                     <input type="text" name="maloai" id="" disabled>
                </div>

                <div class="row mb10 mt10">
                    Tên Loại <br>
                     <input type="text" placeholder="Tên Loại Hàng" name="tenloai" id="">
                </div>

                <div class="row mb10 mt10">
                        <button><a href="">Thêm Mới</a></button>
                        <button><a href="">Nhập Lại</a></button>
                        
                        <a href="danhsachloaihang.html"><input type="submit" value="Danh Sách"></a>
                </div>

            </form>

        </div>

    </div>  
      
</body>
</html>