<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách Loại Hàng</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="boxcenter">
        <!-- Phần Header -->
        <div class="row mb  headeradmin">
            <h1>Danh Sách Loại Hàng</h1>
        </div> 
        <!-- Phần Menu -->
        <div class="row mb menu">
            <ul>
                <li><a href="admin.html">Trang Chủ</a></li>
                <li><a href="#">Danh Mục</a></li>
                <li><a href="#">Hàng Hóa</a></li>
                <li><a href="#">Khách Hàng</a></li>
                <li><a href="#">Bình Luận</a></li>
                <li><a href="thongke.html">Thống Kê</a></li>
            </ul>
        </div>

        <div class="row mb  banneradmin">
            <h1>Thêm Hàng Hóa Mới</h1>
        </div>

        <div class="row mb10 fromadmin ">

                <table>
                    <tr>
                        <th></th>
                        <th>Mã Loại</th>
                        <th>Tên Loại</th>
                        <th></th>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>001</td>
                        <td>Đồng Hồ</td>
                        <td><a href=""><input type="text" value="Sửa"></a> <a href=""><input type="text" value="Xóa"></a></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>002</td>
                        <td>Đồng Hồ</td>
                        <td><a href=""><input type="text" value="Sửa"></a> <a href=""><input type="text" value="Xóa"></a></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>003</td>
                        <td>Đồng Hồ</td>
                        <td><a href=""><input type="text" value="Sửa"></a> <a href=""><input type="text" value="Xóa"></a></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>004</td>
                        <td>Đồng Hồ</td>
                        <td><a href=""><input type="text" value="Sửa"></a> <a href=""><input type="text" value="Xóa"></a></td>
                    </tr>

                    <tr>
                        <td><input type="checkbox" name="" id=""></td>
                        <td>005</td>
                        <td>Đồng Hồ</td>
                        <td><a href=""><input type="text" value="Sửa"></a> <a href=""><input type="text" value="Xóa"></a></td>
                    </tr>

                    
                </table>

                

                <div class="row mb10 mt10">
                        <button><a href="">Chọn Tất cả</a></button>
                        <button><a href="">Bỏ Chọn Tất Cả</a></button>
                        <button><a href="">Xóa Các Mục Chọn</a></button>
                        <button><a href="">Nhập Thêm</a></button>
                </div>

        

        </div>

    </div>    
</body>
</html>