<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dự Án Mẫu</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="boxcenter">
        <!-- Phần Header -->
        <div class="row mb  header">
            <h1>Siêu Thị Trực Tuyến</h1>
        </div> 
        <!-- Phần Menu -->
        <div class="row mb menu">
            <ul>
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Trang Chủ</a></li>
            </ul>
        </div>
        <!-- Phần content -->
        <div class="row mb boxcontent ">

            <div class="box-left">
                <div class="row demo "></div>
            </div>

            <div class="box-right">
                <div class="row demo mb"></div>
                <div class="row demo mb"></div>
                <div class="row demo mb"></div>

            </div>


        </div>




        <!-- Phần footer -->
        <div class="row mb demo"></div>
    </div>

</body>
</html>