<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê Website</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="boxcenter">
        <!-- Phần Header -->
        <div class="row mb  headeradmin">
            <h1>Thống Kê Trang Website  </h1>
        </div> 
        <!-- Phần Menu -->
        <div class="row mb menu">
            <ul>
                <li><a href="admin.html">Trang Chủ</a></li>
                <li><a href="#">Danh Mục</a></li>
                <li><a href="#">Hàng Hóa</a></li>
                <li><a href="#">Khách Hàng</a></li>
                <li><a href="#">Bình Luận</a></li>
                <li><a href="#">Thống Kê</a></li>
            </ul>
        </div>

        <div class="row mb  banneradmin">
            <h1>Bảng Thống Kê</h1>
        </div>

        <div class="row mb10 contentthongke ">

            

                <div class="sanphamthongke">
                    <div class="boxtitle">Sản Phẩm Mới</div>
                    <div class="boxcontent mb10">
                        <div class="h"></div>
                    </div>
                </div>

                <div class="sanphamthongke">
                    <div class="boxtitle">Sản Phẩm Mới</div>
                    <div class="boxcontent mb10">
                        <div class="h"></div>
                    </div>

                </div>
            
                <div class="sanphamthongke">
                    <div class="boxtitle">Sản Phẩm Mới</div>
                    <div class="boxcontent mb10">
                        <div class="h"></div>
                    </div>

                </div>

                <div class="sanphamthongke">
                    <div class="boxtitle">Sản Phẩm Mới</div>
                    <div class="boxcontent mb10">
                        <div class="h"></div>
                    </div>

                </div>

            

        </div>

        <!-- bảng thống kê bằng biểu đồ -->
        <div class="row mb10">

        
                    <div>
                        <div class="boxtitle">Biểu Đồ Thống Kê Sản Phẩm Theo Danh Mục</div>
                        <div class="boxcontent mb10">
                            <div class="h1"></div>
                    </div>        
        
        </div>
    
    </div>    
</body>
</html>